/* Importa Roboto Mono da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

/* Imposta il font globale */
body {
    font-family: 'Roboto Mono', monospace;
}

/* Stile per titoli */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* Titoli più marcati */
}

/* Stile per i pulsanti */
button, .btn {
    font-weight: 400;
    text-transform: uppercase;
}
